




.menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    margin: 0;
    list-style-type: none;
}

.menu 

.menu .menu_item {
    border-right: 1px dotted white;
    padding-right: 30px;
}

